:root {
    --color-menu: #4a4a4a;
    --color-fondo: #3CDBC0;
    --color-creando: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100vw;
    background-color: var(--color-creando);
    position: fixed;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-logo {
    padding-top: 10px;
    width: 155px;
}

.title-link {
    color: var(--color-menu);
    padding: 5px;
}

.title-link:hover {
    color: var(--color-fondo);
}

.item {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 13px;
    text-transform: uppercase;
}

.blog {
    padding-right: 20px;
    font-size: 16px;
}

.main {
    height: 100vh;
}

.main-section {
    height: 100%;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.diversidad {
    width: 200px;
    color: var(--color-creando);
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
}



@media all and (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-adalab {
        padding: 20px 0 20px 30px;
    }

    .block-2 {
        padding-right: 30px;
    }

    .diversidad {
        font-size: 40px;
    }
}